extends layout

block content
  h1= title
  p Welcome #{nick}
  form(id="send" action="/" method="POST")
    select(id="xxx", name="xxxyyy")
      -for(var i = 1;i<10;i++){
      option(value="#{i}") Sala de chat #{i}
      -}
    div(id="chat") #{text}
    input(type="text" id="msg" placeholder="")
    input(type="submit")

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/chat.js')